<!DOCTYPE html>
<html>
<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Page Meta --}}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  {{!-- Mobile Meta --}}
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Brand icon --}}
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{!-- Styles'n'Scripts --}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/index.css"}}" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/tomorrow.min.css">
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/github.min.css"> --}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
  {{!-- Ghost outputs important style and meta data with this tag --}}
  {{ghost_head}}
</head>
<body>

  {{!-- The blog navigation links --}}
  <header class="site-header">
    {{navigation}}
  </header>

  <div class="site-wrapper">

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- The tiny footer at the very bottom --}}

    <footer class="site-footer">
    {{!--   <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
      <section class="poweredby">powered by<a href="https://ghost.org">Ghost</a></section> --}}
      <section class="themeby">ghost theme powered by <a href="https://github.com/chauming/kisn">kisn</a></section>
    </footer>
  </div>
  {{ghost_foot}}
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
